.btn {
    background-color: transparent;
    color: white;
    border: none;
    border-bottom: 3px solid transparent;
    transition: all 0.3s;
    cursor: pointer;
    font-size: clamp(0.5rem, 4vw, 2.5rem);
    padding: 0;
}

.btn:hover {
    border-bottom: 3px solid red;
}

li {
    display: flex;
    align-items: center;
    list-style-type: none;
}