.logo {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 5%;
}

.logoText {
    margin: 0;
    font-family: "Bebas Neue", sans-serif;
    user-select: none;
    color: white;
    text-transform: uppercase;
    font-size: clamp(1rem, 5vw, 5rem);
    background-color: red;
    padding: 5px ;
}